In [1]:
import pandas as pd
from pathlib import Path

In [11]:
xl_sat_file = Path(Path.home(), "Documents/mtorc2/utility/initial_model/data/init_xl_satisfaction.csv")
df = pd.read_csv(xl_sat_file)
df = df.drop(columns=["Unnamed: 0"])
df.head()

    prot1  res1   prot2  res2  contains  satisfied
0    MTOR  1197  RICTOR   516     False      False
1    MTOR  1218  RICTOR   516     False      False
2  RICTOR  1642   MSIN1   102     False      False
3  RICTOR  1092    MTOR  1993     False      False
4  RICTOR  1642   MSIN1   104     False      False

In [12]:
rb_xls = list() 
flex_xls = list() 
target = "MTOR"
for i in range(len(df)):
    prot1 = df.iloc[i, df.columns.get_loc("prot1")]
    prot2 = df.iloc[i, df.columns.get_loc("prot2")]
    res1 = df.iloc[i, df.columns.get_loc("res1")]
    res2 = df.iloc[i, df.columns.get_loc("res2")]
    contains = df.iloc[i, df.columns.get_loc("contains")]
    
    if prot1 == target and prot2 == target and contains: 
        rb_xls.append((prot1, res1, prot2, res2))
    elif prot1 == target and prot2 == target and not contains: 
        flex_xls.append((prot1, res1, prot2, res2))

In [13]:
df_1 = pd.DataFrame(data=rb_xls, columns=["prot1", "res1", "prot2", "res2"])
print(len(df_1))
df_1.head()

17

  prot1  res1 prot2  res2
0  MTOR   900  MTOR  2218
1  MTOR  1655  MTOR  1745
2  MTOR  1267  MTOR  1293
3  MTOR  1277  MTOR   226
4  MTOR  2352  MTOR   900

In [14]:
df_1.to_csv(Path(Path.home(), "Documents/mtorc2/data/xlms/{}_intra_rb.csv".format(target)))

In [15]:
df_2 = pd.DataFrame(data=flex_xls, columns=["prot1", "res1", "prot2", "res2"])
print(len(df_2))
df_2.head()

23

  prot1  res1 prot2  res2
0  MTOR   379  MTOR   251
1  MTOR    42  MTOR   301
2  MTOR  2437  MTOR  2496
3  MTOR   128  MTOR    42
4  MTOR   298  MTOR    42

In [16]:
df_2.to_csv(Path(Path.home(), "Documents/mtorc2/data/xlms/{}_intra_flex.csv".format(target)))