In [6]:
import pandas as pd
from pathlib import Path

In [7]:
xl_sat_file = Path(Path.home(), "Documents/mtorc2/data/xlms/44.csv")
xl_df = pd.read_csv(xl_sat_file)
xl_df = xl_df.drop(columns=["Unnamed: 0"])
xl_df.head()

    prot1  res1   prot2  res2
0    MTOR  1197  RICTOR   516
1    MTOR  1218  RICTOR   516
2  RICTOR  1642   MSIN1   102
3    MTOR  1993  RICTOR  1092
4  RICTOR  1642   MSIN1   104

In [8]:
akt1s = ["AKT1PH", "KINASE"]
msin1s = ["MSIN1", "CRIM", "RBD", "MSIN1PH"]
target_xls = list() 
for i in range(len(xl_df)):
    prot1, res1, prot2, res2 = tuple(xl_df.iloc[i])
        
    if (prot1 in akt1s and prot2 in msin1s) or (prot2 in akt1s and prot1 in msin1s) : 
        target_xls.append(i)
    elif (prot1 in msin1s and prot2 in msin1s): 
        target_xls.append(i)
#     elif (prot1 in akt1s and prot2 in akt1s): 
#         target_xls.append(i)

In [9]:
print(len(target_xls))

14

In [10]:
xl_df = xl_df.iloc[target_xls].copy() 
# df_copy = df_copy.drop(columns=["contains", "satisfied"])
for i in range(len(xl_df)): 
    print(tuple(xl_df.iloc[i]))

('KINASE', 38, 'RBD', 34)
('KINASE', 9, 'CRIM', 18)
('KINASE', 38, 'RBD', 16)
('MSIN1PH', 41, 'KINASE', 25)
('RBD', 38, 'RBD', 23)
('MSIN1PH', 73, 'MSIN1PH', 120)
('MSIN1PH', 37, 'MSIN1PH', 6)
('CRIM', 119, 'RBD', 28)
('CRIM', 19, 'CRIM', 9)
('MSIN1PH', 83, 'MSIN1PH', 47)
('MSIN1', 102, 'MSIN1', 95)
('MSIN1PH', 134, 'MSIN1PH', 123)
('CRIM', 119, 'MSIN1PH', 120)
('MSIN1PH', 37, 'MSIN1PH', 45)

In [11]:
xl_df.to_csv(Path(Path.home(), "Documents/mtorc2/data/xlms/57.csv"))