In [1]:
import pandas as pd
from pathlib import Path

In [2]:
xl_sat_file = Path(Path.home(), "Documents/mtorc2/data/xlms/44.csv")
xl_df = pd.read_csv(xl_sat_file)
xl_df = xl_df.drop(columns=["Unnamed: 0"])
xl_df.head()

    prot1  res1   prot2  res2
0    MTOR  1197  RICTOR   516
1    MTOR  1218  RICTOR   516
2  RICTOR  1642   MSIN1   102
3    MTOR  1993  RICTOR  1092
4  RICTOR  1642   MSIN1   104

In [3]:
target_xls = list() 
for i in range(len(xl_df)):
    prot1, res1, prot2, res2 = tuple(xl_df.iloc[i])

    if prot1 in ["AKT1PH", "KINASE"] and prot2 in ["AKT1PH", "KINASE"]: 
        target_xls.append(i)

In [4]:
print(len(target_xls))

62

In [5]:
xl_df = xl_df.iloc[target_xls].copy() 
# df_copy = df_copy.drop(columns=["contains", "satisfied"])
for i in range(len(xl_df)): 
    print(tuple(xl_df.iloc[i]))

('KINASE', 18, 'KINASE', 38)
('KINASE', 44, 'KINASE', 156)
('KINASE', 18, 'KINASE', 156)
('AKT1PH', 30, 'KINASE', 25)
('AKT1PH', 30, 'KINASE', 38)
('AKT1PH', 30, 'KINASE', 13)
('KINASE', 44, 'KINASE', 18)
('KINASE', 9, 'KINASE', 23)
('KINASE', 34, 'KINASE', 38)
('KINASE', 13, 'KINASE', 38)
('KINASE', 281, 'KINASE', 139)
('AKT1PH', 30, 'KINASE', 244)
('KINASE', 69, 'KINASE', 139)
('KINASE', 162, 'KINASE', 44)
('KINASE', 123, 'AKT1PH', 112)
('KINASE', 152, 'AKT1PH', 14)
('KINASE', 131, 'KINASE', 34)
('AKT1PH', 20, 'KINASE', 156)
('AKT1PH', 112, 'KINASE', 18)
('KINASE', 18, 'KINASE', 25)
('KINASE', 152, 'KINASE', 131)
('KINASE', 156, 'KINASE', 34)
('KINASE', 44, 'KINASE', 34)
('KINASE', 9, 'KINASE', 18)
('AKT1PH', 30, 'KINASE', 156)
('AKT1PH', 30, 'KINASE', 18)
('KINASE', 18, 'KINASE', 13)
('AKT1PH', 30, 'AKT1PH', 14)
('KINASE', 38, 'KINASE', 18)
('KINASE', 44, 'AKT1PH', 30)
('AKT1PH', 20, 'AKT1PH', 14)
('KINASE', 162, 'KINASE', 131)
('KINASE', 123, 'AKT1PH', 30)
('AKT1PH', 30, 'KINASE', 152)
('AKT1PH', 30, 'KINASE', 241)
('AKT1PH', 20, 'KINASE', 152)
('AKT1PH', 20, 'KINASE', 18)
('KINASE', 44, 'AKT1PH', 112)
('KINASE', 9, 'KINASE', 139)
('KINASE', 152, 'KINASE', 34)
('KINASE', 274, 'KINASE', 139)
('KINASE', 152, 'AKT1PH', 20)
('KINASE', 18, 'KINASE', 34)
('KINASE', 44, 'AKT1PH', 20)
('KINASE', 162, 'KINASE', 37)
('KINASE', 275, 'KINASE', 139)
('KINASE', 123, 'KINASE', 34)
('KINASE', 44, 'KINASE', 152)
('KINASE', 139, 'KINASE', 281)
('AKT1PH', 30, 'AKT1PH', 20)
('KINASE', 38, 'KINASE', 37)
('KINASE', 123, 'KINASE', 156)
('KINASE', 162, 'KINASE', 34)
('KINASE', 162, 'AKT1PH', 20)
('AKT1PH', 39, 'AKT1PH', 14)
('KINASE', 38, 'KINASE', 34)
('KINASE', 44, 'KINASE', 23)
('KINASE', 162, 'KINASE', 18)
('KINASE', 162, 'KINASE', 13)
('KINASE', 162, 'AKT1PH', 14)
('AKT1PH', 30, 'KINASE', 232)
('AKT1PH', 140, 'KINASE', 69)

In [6]:
xl_df.to_csv(Path(Path.home(), "Documents/mtorc2/data/xlms/akt.csv"))