In [1]:
import pandas as pd
from pathlib import Path
import multiprocessing

In [2]:
ev_clash_df = pd.read_csv(Path(Path.home(), "Documents/mtorc2/data/models/submission_3/136_2_1/ev_clash.csv"))
ev_clash_df.head()

,Unnamed: 0,rmf_file,frame,n_clash,n_total
0,0,/wynton/group/sali/mhancock/mtorc2/analysis/13...,0,19374,679195.0
1,1,/wynton/group/sali/mhancock/mtorc2/analysis/13...,1,19396,679195.0
2,2,/wynton/group/sali/mhancock/mtorc2/analysis/13...,2,18962,679195.0
3,3,/wynton/group/sali/mhancock/mtorc2/analysis/13...,3,19394,679195.0
4,4,/wynton/group/sali/mhancock/mtorc2/analysis/13...,4,19174,679195.0

In [6]:
print(1-(ev_clash_df["n_clash"] / ev_clash_df["n_total"]).min())
print(1-(ev_clash_df["n_clash"] / ev_clash_df["n_total"]).max())

0.9723290071334447
0.9706858854968013